<link rel="stylesheet" href="style/css/homeStyle.css">
<div class="homePage" ng-controller="HomeViewController">
    <div class="stage">
        <div>{{welcomeMessage}}</div>
        <div>{{companyName}}</div>
    </div>
    <div class="body">
        <a class="pictureContainerLink" ng-repeat="picture in uploadedPictures" ng-href="#/photos/{{picture.id}}" ng-click="updateTransferPhoto(picture)">
            <div class="pictureContainer">
                <img class="homePagePicture" ng-src="{{picture.dataURL}}">
                <h2><span class="pictureTitle">{{picture.title}}</span></h2>
            </div>
        </a>
    </div>
</div>