<div ng-controller="PhotoUploadController">
    <form name="uploadPictureForm" enctype="multipart/form-data" action="/api/users/1/photos" method="post">
        <fieldset>
            <legend>Upload your own picture</legend>
            <div>
                <label>Choose a picture: </label>
                <input type="file" ng-file-select="" ng-model="userPhoto" name="userPhoto" accept="image/*" ng-file-change="generateThumb(userPhoto[0], $files)" required="false">
                <img ng-show="userPhoto[0].dataUrl != null" ng-src="{{userPhoto[0].dataUrl}}" class="thumb">
            </div>
            <div>
                <label>Title: </label>
                <input type="text" name="title" ng-model="photoTitle" size="48" required="false" />
            </div>
            <div>
                <label>Caption: </label>
                <input type="text" name="caption" ng-model="photoCaption" size="48" required="false" />
            </div>
            <div>
                <label>Credits: </label>
                <input type="text" name="credits" ng-model="photoCredits" size="48" required="false" />
            </div>
            <button ng-submit="submitPicture(uploadedPictures)">Submit</button>
        </fieldset>
    </form>
<!-- </div> -->

<!--
http://ngmodules.org/modules/angular-file-upload
https://github.com/danialfarid/angular-file-upload
https://angular-file-upload.appspot.com/
-->
