.imageWrapper {
    display: block;
}

.view1 .largeImageContainer {
    text-align: center;
}

.view1 .largeImageContainer img.large{
    height: 600px;
}

.view1 .fullResImageContainer img {

}

.view1 .fullResImageContainer {
    position: absolute;
    width: 100%;
    min-height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
    display: table;
}

.view1 .fullResImageContainer .imageWrapper {
    vertical-align: middle;
    display: table-cell;
}