<link rel="stylesheet" href="style/css/photoDisplayStyle.css">
<div class="view1" ng-controller="PhotoDisplayController">
    <div class="largeImageContainer">
        <div class="imageWrapper">
            <img class="large" ng-src="{{image}}" ng-click="showFullRes()">
        </div>
        <h3>{{title}}</h3>
        <h6>{{caption}}</h6>
    </div>
    <span class="fullResImageContainer" ng-hide="!fullResVisible" ng-click="hideFullRes()">
        <div class="imageWrapper">
            <img ng-src="{{image}}">
        </div>
    </span>
</div>
